@charset "UTF-8";

@media print{
    *{
        font-family: 'Courier New', Courier, monospace;
    }
    body{
        background-image: url('../imagens/icon-print.png');
        text-shadow: none;
        color: black;
    }
    main h1{
        text-shadow: none;
        color: black;;
    }
   main::after{
    padding-left: 20px;
    content: 'esse site foi impresso no site leandro.com';
    text-decoration: overline;
    
    
   }
    img#phone{display: none;}
    img#tablet{display: none;}
    img#print{display: block;}
    img#tv{display: none;}
    img#pc{display: none;}

}

@media screen and (min-width: 768px) and (max-width: 952px) {/*tablet*/
    body{
        background-image: url('../imagens/back-tablet.jpg');
    }
    img#phone{display: none;}
    img#tablet{display: block;}
    img#print{display: none;}
    img#tv{display: none;}
    img#pc{display: none;}

    
}

@media screen and (min-width: 952px) and (max-width: 1200px){/*desktop*/
    body{
        background-image: url('../imagens/back-pc.jpg');
    }
    img#phone{display: none;}
    img#tablet{display: none;}
    img#print{display: none;}
    img#tv{display: none;}
    img#pc{display: block;}
    
}
@media screen and (min-width: 1200px){/*tv's*/
    body{
        background-image: url('../imagens/back-tv.jpg');
        
    }
    img#phone{display: none;}
    img#tablet{display: none;}
    img#print{display: none;}
    img#tv{display: block;}
    img#pc{display: none;}
    main{
        width: 400px;
    }
    
}